{% extends "PhamPhotosApp/base.html" %} {% block content %}

<style>



</style>

<div class="container bg-white">

  <div class="row text-here">
   
      
      <div class="row pt-3">
      <div class="col-md-10 text-dark">
        <h1 class="p-2 m-3"><strong>{{ obj.title }}</strong></h1>
        <center>
        <img id="myImg" src="{{ obj.large_image_thumbnail.url }}" alt="{{ obj.title }}" style="max-width: 100%;">
        
      </center>
      <h4 class="p-4"><strong>By</strong> <a href="/user/profile/{{obj.owner.id}}">{{ obj.owner.username }}</a></h4>
      </div>
      <div class="col-md-2 detailcoloum text-dark">
        
        <h2>Image Details</h2>
        {% if obj.cameratype %}
        <h4><strong>Cameratype:</strong> {{ obj.cameratype }}</h4>
        {% endif %}
        <h4><strong>Credits:</strong> {{ obj.price }}</h4>
        
        <h4><strong>Date:</strong> {{ obj.}}Pixels: {{obj.photo.width}}x{{obj.photo.height}}</h4>
        <h4><strong>Category:</strong> {{ obj.category }}</h4>
       
         
   



        <!-- Purchase buttton  -->
        
        <a class="asdasda" onclick="return confirm('You are about to purchase {{ obj.title }}, Are you sure?')" href='purchase/{{ obj.id }}'><button class="btn btn-primary m-1 p1">Purchase</button></a>
        <!-- Purchase buttton  -->
        <a class="asdasda" href='/'><button class="btn btn-danger m-1 p1">Home</button></a>
      
      </div>
    </div>
     <div class="row">
    <div class="col-12 asdasdgf">
     <span class="p-3"></span>
    </div>
    </div>
      
    
      <div id="myModal" class="modal">

        
        <span class="close">&times;</span>

        
        <img class="modal-content" id="img01">

        
        <div id="caption"></div> <br>
      </div>






      
    </div>
  </div>



  <script>
   
    var modal = document.getElementById("myModal");

  
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
      modal.style.display = "none";
    }

  </script>
  <script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>


  {% endblock content %}