{% extends "PhamPhotosApp/base.html" %} {% block content %}

<style>

  body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(42,41,41,1) 100%);

  }

</style>

<div class="container bg-light">

  <div class="row text-here">
   
      
      <div class="row pt-3">
      <div class="col-md-12 text-dark">
        <h1 class="m-3"><strong>{{ obj.title }}</strong></h1>
        
        <center>
        <img id="myImg" src="{{ obj.large_image_thumbnail.url }}" alt="{{ obj.title }}" style="max-width: 90%; max-height: 800px;">
        
      </center>
      </div>
      </div>
      <div class="row">
        <div class="col-6 text-dark">
      
      <div class="p-3" style="display: inline;">
      <h1 class="pt-3"><strong>{{ obj.title }}</strong></h1>
        <h2>Image Details</h2>
        {% if obj.cameratype %}
        <h4><strong>Cameratype:</strong> {{ obj.cameratype }}</h4>
        {% endif %}
        <h4><strong>Credits:</strong> {{ obj.price }}</h4>
        
        <h4><strong>Pixels:</strong> {{obj.photo.width}}x{{obj.photo.height}}</h4>
        <h4><strong>Category:</strong> {{ obj.category }}</h4>
      </div>
        <br>
        
        {% if user.is_authenticated %}
        <a href="/savephoto/{{obj.id}}"><button class="btn btn-dark m-1" style="width: 150px;">Bookmark</button></a>
        {%else%}
        {% endif %}
        
          
     
       
         
   



       
        
        <a class="asdasda" onclick="return confirm('You are about to purchase {{ obj.title }}, Are you sure?')" href='purchase/{{ obj.id }}'><button style="width: 150px;" class="btn btn-dark m-1">Purchase</button></a><br>
        
        <a class="asdasda" href='/'><button style="width: 150px;" class="btn btn-dark m-1">Home</button></a>
     
      <h4 class="p-4"><strong>By</strong> <a href="/user/profile/{{obj.owner.id}}">{{ obj.owner.username }}</a> </h4>

      </div>
      <div class="col-6 text-dark p-5">
        {% if user.is_authenticated %}
        <h1>My profile</h1>
        <h3>{{user.users.tokens}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
        </svg></h3> 
        {% else %}

        {% endif %}


      </div>
      
      <div class="other-photos">
        {% if owner %}
        <strong><h1 class="text-dark">More from {{obj.owner}}</h1></strong>
        {% for a in owner %}
        <div class="box">
          <a class="image-home" href='{{ a.id }}'>
            
    
            <img class="display-image" src='{{ a.image_thumbnail.url }}' />
    
    
    
    
          </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}
        
        <strong><h1 class="text-dark">Other images</h1></strong>
        {% for a in others %}
        <div class="box">
          <a class="image-home" href='{{ a.id }}'>
            
    
            <img class="display-image" src='{{ a.image_thumbnail.url }}' />
    
    
    
    
          </a>
        </div>
        {% endfor %}


      </div>
    </div>
     <div class="row">
    <div class="col-12 asdasdgf">
      
     <span class="p-3"></span>
    </div>
    </div>
      
    
      <div id="myModal" class="modal">

        
        <span class="close">&times;</span>

        
        <img class="modal-content" id="img01">

        
        <div id="caption"></div> <br>
      </div>






      
    </div>
  </div>



  <script>
   
    var modal = document.getElementById("myModal");

  
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
      modal.style.display = "none";
    }

  </script>
  <script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>


  {% endblock content %}