<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="main-reg">


{% extends "PhamPhotosApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="wrapper fadeInDown">
  <div id="formContent">

  
  <div class="px-4 py-5 my-5 text-center bg-white rounded-3">
    <img class="d-block mx-auto mb-4" src="https://i.imgur.com/TixRqpj.gif" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold">Exchange your photography skills into real world money.</h1>
    <div class="col-lg-6 mx-auto">
      <h3 class="lead ">You have {{tokens}} credits</h3>
      <h3 class="lead ">You balance is worth ${{worth}} AUD</h3>
      <h3 class="lead">Minimum Withdrawal Is $50</h3>
      
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form method="POST">
          {% csrf_token %}
        {{form|crispy}}
        <small class="lead">By submitting a request you are accepting our companies <a href="#">terms and conditions</a>.</small><br>
        <button type="submit" class="btn btn-success m-4">Submit</button>
      </form>
      
      </div>
      {% if past %}
      <table
      class="table table-sm table-bordered"
      style="width: 100%;"
    >
      <tr>
      <th>ID</th>
        <th>User</th>
        <th>Amount</th>
        <th>Paypal</th>
        <th>Time Sumbitted</th>
        <th>Completion Status</th>
        <th>Delete</th>
      </tr>
      {% for a in past %}
      <tr>
        <th>{{a.id}}</th>
          <th>{{a.user}}</th>
          <th>{{a.amount}}</th>
          <th>{{a.paypal}}</th>
          <th>{{a.time}}</th>
          <th>{{a.complete}}</th>
          {% if a.complete == True %}
          <th><small>Cannot delete when transition is complete</small><th>
          {% else %}
          <th><a href="/del/ex/{{a.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg></a></th>
          {% endif %}
          
        </tr>
      
      
      {% endfor %}
    </table>
      {% else %}
        
      <h3>No Past Exchanges</h3>

      {% endif %}
    </div>
  </div>
   

  </div>
</div>

</div>


<br>

</div>
{% endblock content %}