<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="main-reg">


{% extends "PhamPhotosApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container white-text">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first iconn">
      <img class="icon-img" src="https://i.imgur.com/TixRqpj.gif" id="icon" alt="User Icon" style="max-width: 150px;" />
    </div>

    <!-- register Form -->
    <form class="register mt-3" method="POST">
      
      <!-- Token -->
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-outline-info" type="submit">Login</button>
    
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <span>Need an account? </span><a class="underlineHover" href="/register">Register</a>
    </div>

  </div>
</div>
<br>
<div class="row mt-5 bg-white p-3 m-5 " style="border-radius: 20px; color: black; text-align: center;">
  <div class="col-12">
    <h1 class="p-5">Having an account with Ultimate Imagination</h1>

  </div>
  <div class="col-lg-4">
    <center>
    <img class="pb-4 " src="..\static\images\cloud-upload.svg" alt="Generic placeholder image" width="140" height="140">
  </center>
    <h2>Upload Your Own Photography</h2>
    <p>Becoming a stock media seller has never been easier, make an account and upload your media files to let others buy and download your products.</p>
   
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <center>
    <img class="pb-4 " src="..\static\images\cart4.svg" alt="Generic placeholder image" width="140" height="140">
  </center>
    <h2>Purchase Stock Media</h2>
    <br>
    <p>Stock media can be used for any purpose, including personal use or commercial products. Our stock media is cheaper then our compeditior markets.</p>
    
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <center>
    <img class="pb-4 " src="..\static\images\piggy-bank.svg" alt="Generic placeholder image" width="140" height="140">
    </center>
    <h2>Make money doing what you love</h2>
    <p>When someone purchases your image you instantly receive 60% of the cost. This is higher then other stock media platforms and to add to the awesomeness you dont need to pay for a monthy subscription.</p>
    
  </div><!-- /.col-lg-4 -->
</div>

</div>
</div>
{% endblock content %}