{% extends "PhamPhotosApp/base.html" %} {% block content %}

<style></style>

<div class="container">
  <div class="row text-here">
    <div class="col-md-7">
      <div class="p-5 mb-4 bg-dark rounded-3 mt-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">User Profile</h1>
        
      {% for a in profile %}
      <h3>ID: {{ a.id }}</h3>
      <h3>Email: {{ a.email }}</h3>
      <h3>Username: {{ a.username }}</h3>
      <h3>Credits: {{ a.users.tokens }}</h3>
      {% endfor %}
      <br /></p>
        <button class="btn btn-primary btn-lg" type="button">Upload Media</button>
      </div>
    </div>
      
    </div>
    <div class="col-md-5">
     <div class="p-5 mb-4 bg-dark rounded-3 mt-3">
      <div class="container-fluid py-5">
       <h1><strong>Want Credits?</strong></h1>
       <h6>Purchasing an image gives you a permanent license for the rights of using images for commercial use.</h6>

       <a href="/credits"><button type="button" class="btn btn-outline-primary m-3">Purchase Credits</button></a>    
      
       
      </div>
    </div>
    
    </div>
  </div>
  <div class="row mb-5 bg-white rounded-3 p-3">
    <div class="col-md-12 bg-white rounded-3" >
      <h1 class="pb-2 ">My Uploads</h1>
      {% if uploads %}
      <table
        class="table table-sm table-bordered"
        style="width: 100%;"
      >
        <tr>
          <th>Title</th>
          <th>Approved Status</th>
          <th></th>
          <th>Delete</th>
        </tr>

        {% for b in uploads %}
        <tr>
          <th>{{ b.title }}</th>
          {% if b.approved == True %}
          <th style="color: rgb(79, 224, 79)">{{ b.approved }}</th>
          {% else %}
          <th style="color: red">{{ b.approved }}</th>
          {% endif %}
          <th>
            <a href="../{{ b.id }}"
              ><img
                class="kasdjasdhkh"
                src="{{ b.image_thumbnail.url }}"
                alt="{{ b.title }}"/></a>
          </th>
          <th>
            <a href="./del/{{ b.id }}"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash aaad"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                /></svg
            ></a>
          </th>
        </tr>

        {% endfor %}
      </table>
      {% else %}
      <h3 class="">You have not uploaded any images</h3>
      {% endif %}
    </div>

    <div class="col-md-12 bg-white rounded-3">
      <h1 class="">Purchases</h1>
      <table
        class="table table-sm table-bordered"
        style="width: 100%;"
      >
        {% if pur %}
        <tr>
          <th>Transaction ID</th>
          <th>Purchase Date</th>
          <th>Title</th>
          <th></th>
          <th>Download</th>
        </tr>
        {% for c in pur %}
        <tr>
          <th>{{c.id}}</th>
          <th>{{c.date}}</th>
          <th>{{ c.Photo.title }}</th>
          <th>
            <a href="../{{ c.Photo.id }}"
              ><img
                class="kasdjasdhkh"
                src="../media/{{ c.Photo.image_thumbnail }}"
                alt="{{ c.title }}"
            /></a>
          </th>
          <th>
            <a href="../media/{{ c.Photo.photo }}" download
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-download"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                /></svg
            ></a>
          </th>
        </tr>

        {% endfor %}
      </table>
      {% else %}

      <h3 class="">No Purchases</h3>

      {% endif %}
    
      <div class="col-12 bg-white rounded">

        <h1 class="">Income log</h1>
        {% if items %}

        

        <table
          class="table table-sm table-bordered"
          style="width: 100%;"
        >
        <tr>
          <th>Payment</th>
          <th>Product</th>
          <th>Amount</th>
          <th>Added</th>
        </tr>
          {% for nut in items %}
          <tr>
            <th>{{nut.id}}</th>
            <th>{{nut.title}}</th>

            <th>{{nut.amount}}</th>
            <th>{{nut.added}}</th>
          </tr>

          {% endfor %}
        </table>

        {% else %}

        <h3>No once has purchased has your image</h3>

        {% endif %}
      </div>
       <div class="col-12 bg-white rounded">

        <h1 class="">Credit Payments</h1>
        {% if creditss %}

        

        <table
          class="table table-sm table-bordered"
          style="width: 100%;"
        >
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Credit Amount</th>
           <th>Amount Paied</th>
           <th>Date</th>
          
        </tr>
          {% for cred in creditss %}
          <tr>
            <th>{{cred.id}}</th>
            <th>{{cred.user}}</th>
              <th>${{cred.cost}} AUD</th>
            <th>+ {{cred.creditamount}} Credits</th>
             <th>{{cred.added}}</th>
            
          </tr>

          {% endfor %}
        </table>

        {% else %}

        <h3>You have not purchased any credits through our store</h3>

        {% endif %}
      </div>
      <div class="col-6"></div>
    </div>
  </div>

  {% endblock content %}
</div>
