<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="main-reg">


{% extends "PhamPhotosApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    
 

    <!-- Remind Passowrd -->
  
  <div class="px-4 py-5 my-5 text-center bg-white rounded-3">
    <img class="d-block mx-auto mb-4" src="{% static 'images/ui.png' %}" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold">Bookmarked Media</h1><br>
    <div class="col-lg-12 mx-auto">
     

    
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
  
      </div>
    </div>
  </div>
  <center>
    <div class="row text-center">
      <div class="col-12 bg-white rounded">
        <h1>Photos</h1>
        {% if photo %}
          <table>
            <tr>
              <th></th>
              <th></th>
            </tr>
        {% for a in photo %}
        
        <tr>
          <th>
        <div class="box">
       <a href="../{{a.image.id}}"><img class="display-image" src='{{ a.image.image_thumbnail.url }}' /></a>
      </div>
    </th>
    <th><a href="/dsp/{{a.id}}"><button class="btn btn-danger m-5">Delete</button></a></th>
        
    </tr>
     
          
        {% endfor %}
      </table>
      
        {% else %}
        <h3>Nothing saved</h3>
        {% endif %}
      </div>
    </div>

  </center>
<br>
</div>
</div>
{% endblock content %}