{% extends "PhamPhotosApp/base.html" %} {% block content %}
{% load crispy_forms_tags %}

  

  <div class="row">
    <div class="col-md-12">
      <center>
        <h1 class="p-1 pt-5" style="color: rgb(87, 172, 87);text-align:center;">Success!!!</h1>
    <h1 class="p-4" style="color: white;text-align:center;">Thank you for your purchase!</h1>
    <a href="/"><button class="btn btn-outline-success">Home</button></a>
    <a href="../profile"><button class="btn btn-outline-success pl-1">Profile</button></a>
  </center>
  </div>
  </div>




{% endblock content %}