{% extends "PhamPhotosApp/base.html" %} {% block content %}




<link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />

<div class="main-header p-5">
  <div class="container-fluid py-5 niii">
    <h1 class="display-5 fw-bold text-here">Explore Stock Footage</h1>
    <video class="video" autoplay muted loop>
      <source src="../media/images/banner.mp4" type="video/mp4">
    </video>
    <center>
      <form method="GET" class="text-align-center form-top" action="{% url 'search' %}"><input name="search"
          placeholder="Search for Footage" class="bar"><button class="search-button" type="submit"><svg
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button></form>
      <p class="trending-text">Trending Searches: COVID-19, Food, Pandemic, Sport, Super Slow, Business, Time Lapse</p>
    </center>

  </div>
</div>

  <div class="row">
    <div class="col-xl-10 flexy">
   
      
        {% for a in vids %}
        <a href="/video/{{a.id}}">
        <div class="box">
          
           
            <video
    id="my-video"
    class="video-js"
    preload="auto"
    width="400"
    height="224"
    poster=""
    data-setup="{}"
    muted=true
    autoplay=true
    loop
  >
    <source src="{{ a.video.url }}" type="video/mp4" />
  
    
  </video>
      
          
          
        

       
        </div>
      </a>
        
        {% endfor %}
      </div>
      
    <div class="col-xl-2 sidebarhome">
      
      <center>
      <br>
      {% if user.is_authenticated == False %}
      <a href="/register"><button class="starttoday"><strong>Start Free Today!</strong></button></a>
      <br>
      <br>
      {%endif%}
      <a href="/credits" class="price_link"><Button class="btn btn-outline-success m-3">Purchase Credits</button></a>
    </center>
    
    </div>
  </div>

</div>

<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>







{% endblock content %}