{% extends "PhamPhotosApp/base.html" %} {% block content %}

<style>
  .aaaddddwwewe {
    color: black;
  }




  body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(42, 41, 41, 1) 100%);

  }
</style>



<div class="container bg-white">

  <div class="row text-here">


    <div class="row">
      <div class="col-md-12 aaaddddwwewe p-2 pb-2">
        <h3 class="p-2"><u>{{ obj.title }}</u></h3>
        <center>
          <video id="my-video" class="video-js" preload="auto" width="1200" height="650" poster="" data-setup="{}"
            muted=true autoplay=true loop>
            <source src="{{ obj.video.url }}" type="video/mp4" />


          </video>

        </center>


      </div>
    </div>










  </div>
</div>









<div class="container bg-light">

  <div class="row text-here">


    <div class="row pt-3">
      <div class="col-md-12 text-dark">



      </div>
    </div>
    <div class="row">
      <div class="col-6 text-dark">


        
        <h1 class="">{{ obj.title }}</h1>
        <h2 class="mt-5">Image Details</h2>
        {% if obj.cameratype %}
        <h4><strong>Cameratype:</strong> {{ obj.cameratype }}</h4>
        {% endif %}
        <h4><strong>Credits:</strong> {{ obj.price }}</h4>

        <h4><strong>Category:</strong> {{ obj.category }}</h4>
        <h4><strong>Video Format:</strong> {{ obj.format }}

          <h4 class="p-4"><strong>By:</strong> <a href="/user/profile/{{obj.owner.id}}">{{ obj.owner.username }}</a>  {% if obj.owner.is_active %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          <title>Verified User</title></svg>{% else %}{% endif %}
          </h4>


     



      <!-- Purchase buttton  -->

      {% if user.is_authenticated %}
      <a class="" href='/savevid/{{obj.id}}'><button style="width: 150px;"
          class="btn btn-primary m-1 p1">Bookmark</button></a>
      {% else %}
      {% endif %}
      <a class="asdasda" onclick="return confirm('You are about to purchase {{ obj.title }}, Are you sure?')"
        href='purchase/{{ obj.id }}'><button style="width: 150px;" class="btn btn-primary m-1 p1">Purchase</button></a>
      <!-- Purchase buttton  -->
      <a class="asdasda" href='/video'><button style="width: 150px;" class="btn btn-danger m-1 p1">Home</button></a>
    </div>

      <div class="col-6 text-dark">
        {% if user.is_authenticated %}
        <h1>My profile</h1>
        <h3>{{user.users.tokens}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-credit-card" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
          </svg></h3>
        {% else %}

        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="col-12 flexy">


        <!----MAin bit-->

        <strong>
          <h1 class="text-dark">Other Videos</h1>
        </strong>
        
        
          {% for a in others %}
          <div class="box">


          <a href="/video/{{a.id}}">          
           
            <video
    id="my-video"
    class="video-js"
    preload="auto"
    style="max-width: 400px; max-height: 290px;"
    poster=""
    data-setup="{}"
    muted=true
    autoplay=true
    loop
  >
    <source src="{{ a.video.url }}" type="video/mp4" />
  
    
  </video>
      
          
          
        
</a>
</div>
          {% endfor %}






       
    
        
        



      </div>
    </div>
  </div>





<script>

  var modal = document.getElementById("myModal");


  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  var span = document.getElementsByClassName("close")[0];

  span.onclick = function () {
    modal.style.display = "none";
  }

</script>
<script type="text/javascript">
  var elems = document.getElementsByClassName('confirmation');
  var confirmIt = function (e) {
    if (!confirm('Are you sure?')) e.preventDefault();
  };
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmIt, false);
  }
</script>





{% endblock content %}