{% extends "PhamPhotosApp/base.html" %} {% block content %}




<link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />

<div class="main-header p-5">
  <div class="container-fluid py-5 niii">
    <h1 class="display-5 fw-bold text-here">Explore Stock Footage</h1>
    <video class="video" autoplay muted loop>
      <source src="../media/images/banner.mp4" type="video/mp4">
    </video>
    <center>
      <form method="GET" class="text-align-center form-top" action="{% url 'vidsearch' %}"><input name="search"
          placeholder="Search for Footage" class="bar"><button class="search-button" type="submit"><svg
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button></form>
      
    </center>

  </div>
</div>

  <div class="row">
    <div class="col-xl-10 flexy">
   
      
        {% for a in vids %}
        
        <div class="box">
          <a id="aaa" href="/video/{{a.id}}">          
           
            <video
            
    id="video"
    class="videoo"
    width="400"
    height="224"
    muted=true
    codecs="vp8, vorbis"
    preload="none"
   
    
    loop
  >
    <data-src src="{{ a.video.url }}" type="video/mp4"></data-src>

  </video>
      
          
          
        
</a>
       
        </div>
      
        
        {% endfor %}
    
      </div>
      
    <div class="col-xl-2 sidebarhome">
      
      <center>
      <br>
      {% if user.is_authenticated == False %}
      <a href="/register"><button class="starttoday"><strong>Start Free Today!</strong></button></a>
      <br>
      <br>
      {%endif%}
      <a href="/credits" class="price_link"><Button class="btn btn-outline-success m-3">Purchase Credits</button></a>
        <h4 class="text-white m-3">Categories</h4>
        <a href="/vc/arts"><button class="btn btn-outline-info m-1">Arts</button></a>
        <a href="/vc/Coronavirus & Pandemic"><button class="btn btn-outline-info m-1">Coronavirus/ Pandemic</button></a>
        <a href="/vc/education"><button class="btn btn-outline-info m-1">Education</button></a>
        <a href="/vc/Elements of Nature"><button class="btn btn-outline-info m-1">Elements of Nature</button></a>
        <a href="/vc/food"><button class="btn btn-outline-info m-1">Food</button></a>
        <a href="/vc/Green Planet"><button class="btn btn-outline-info m-1">Green Planet</button></a>
        <a href="/vc/home"><button class="btn btn-outline-info m-1">Home</button></a>
        <a href="/vc/industry"> <button class="btn btn-outline-info m-1">Industry</button></a>
        <a href="/vc/lifestyle"> <button class="btn btn-outline-info m-1">Lifestyle</button></a>
        <a href="/vc/love"> <button class="btn btn-outline-info m-1">Love</button></a>
        <a href="/vc/landscape"> <button class="btn btn-outline-info m-1">Landscapes</button></a>
        <a href="/vc/Medical & Health"> <button class="btn btn-outline-info m-1">Medical & Health</button></a>
        <a href="/vc/people"> <button class="btn btn-outline-info m-1">People</button></a>
        <a href="/vc/Religion & Traditions"> <button class="btn btn-outline-info m-1">Religion & Traditions</button></a>
        <a href="/vc/Sport & Fitness"> <button class="btn btn-outline-info m-1">Sport & Fitness</button></a>
        <a href="/vc/Technology & Science"> <button class="btn btn-outline-info m-1">Technology & Science</button></a>
        <a href="/vc/Motion or Timelapse"> <button class="btn btn-outline-info m-1">Motion or Timelapse</button></a>
        <a href="/vc/travel"> <button class="btn btn-outline-info m-1">Travel & World</button></a>
        <a href="/vc/Transportation"><button class="btn btn-outline-info m-1">Transportation</button></a>
        <a href="/vc/Urban & City"> <button class="btn btn-outline-info m-1">Urban & City</button></a>
        <a href="/vc/vintage"> <button class="btn btn-outline-info m-1">Vinatage</button></a>
    </center>
    
    </div>
  </div>

</div>

<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>

<script>

var vid = document.getElementsByClassName("videoo");
[].forEach.call(vid, function (item) {
item.addEventListener('mouseover', hoverVideo, false);
item.addEventListener('mouseout', hideVideo, false); });

function hoverVideo(e){
this.play();
}
function hideVideo(e){
this.currentTime = 0;
this.pause();
}

</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.5/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.5/plugins/jquery.lazy.av.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
      $("video").lazy();
  });
  </script>




{% endblock content %}
